<template lang="">
    <div>
        <div class="container mt-5">
            <div class="col-12 box_shodow">
                <div class="card">
                    <div class="card-header bg-danger bg-opacity-75 text-center"><h4 style="color: #fdfdfd !important;" class="fw-bold">Map ค้นหาร้านอาหาร</h4></div>
                    <div class="card-body">
                        
                        <div class="col-12">
                            <div class="col-12 row g-2">
                                <div class="col-10">
                                    <input type="text" style="border:2px solid #e56874;" v-model.trim="text_search" class="form-control form-control-sm" placeholder="ค้นสถานที่" value="">
                                </div>
                                <div class="col-2">
                                    <div class="d-grid">
                                        <button class="btn btn-info btn-sm" @click="filter()" type="button">ค้นหา</button> 
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 row g-0 mt-2">
                                <div class="table-responsive-xl " >
                                    <div class="col-12">
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                            <table id="table_queryMap" style="width: 100%;" class="table table-bordered table-hover rounded-3 overflow-hidden table-sm table-striped">
                                                <thead class="table-primary text-center ">
                                                    <tr>
                                                        <th scope="col" width="9%">ชื่อ</th>
                                                        <th scope="col" width="15%">ที่อยู่</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 12px;">
                                                    <template v-if="show_data">
                                                        <tr
                                                        v-for="(item, index) in data_list" 
                                                        :key="index"
                                                        @click="link_map(item)"
                                                        class="text-center"
                                                        style="cursor: pointer"
                                                        title="คลิกเพื่อเปิดแผนที่"
                                                        >
                                                            <td>{{ item.name }}</td>
                                                            <td>{{ item.formatted_address }}</td>
                                                        </tr>
                                                    </template>
                                                    <template v-if="!show_data">
                                                        <tr>
                                                           <td colspan="2" class="text-center">ไม่พบข้อมูล</td> 
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {AxiossCustom} from "../../config/interceptor.js"; // import axios
export default {
    name: 'QueryMapView',
    data() {
        return {
            baseURL:"",
            data_list:[],
            text_search:"บางซื่อ", 
            show_data:true, //สถานะการโชว์ข้อมูล true คือโชว์ , false คือไม่โชว์
        }
    },
    created() {
        this.baseURL = this.$store.state.baseURL; // ดึงค่า basepoint จาก store
        this.APIGetQueryMapList();
    },
    methods: {
        filter() {
            this.APIGetQueryMapList();
        },
        async APIGetQueryMapList() {
            console.log(process.env.BAR)
            let Url = this.baseURL + "call_map"; // set full URL
            let dataSend = {
                text_search: this.text_search, //แนบ parameter
            };
            await AxiossCustom.get(Url, { params: dataSend }) // axios call api to backend
            .then((res) => {
                let resutl_data = res.data;
                // console.log("resutl_data::::", resutl_data);
                if(resutl_data.status){ // เช็คสถานะ response
                    let results = resutl_data.datas;
                    this.data_list = results; // set ข้อมูลที่รับมาจาก backend เพื่อโชว์ข้อมูล
                    this.show_data = true;
                }else{
                    console.log("ไม่พบข้อมูล");
                    this.show_data = false;
                    this.data_list = []; // set ข้อมูลเป็นค่าว่าง
                }
            })
            .catch((err) => {
                console.log("err::::", err);
                this.show_data = false;
                this.data_list = []; 
            });
        },

        link_map(item) {
            let lat = item.geometry.location.lat;
            let lng = item.geometry.location.lng;
            let place_id = item.place_id
            let link_url = "https://www.google.com/maps/search/?api=1&query="+lat+"-"+lng+"&query_place_id="+place_id; 
            window.open(link_url, '_blank'); // เปิดหน้าใหม่ขึ้นมาตามลิงค์ (ไม่เสียตัง)
        }
    },

}
</script>
<style scoped>
.my-custom-scrollbar {
    position: relative;
    /* height: 520px; */
    height: 70vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.box_shodow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
</style>